#parte{
    background-color: #38280a;
    border: none;
    width:1366px;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte2{
    background-color: #38280a;
    border: none;
    width:1350px;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}


.logo{
    width: 270px;
    height: 300px;
    position: absolute;
    top: 247px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.certo{
    width:18px;
    height: 20px;
    position: absolute;
    top: 383px;
    left: 632px;
}


#medida{
    position: absolute;
    top: 373px;
    left: 657px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgb(144, 143, 142);
}

#prody{
    color: rgb(58, 140, 233);
    font-family: 'Roboto', sans-serif;
    border: none;
    text-decoration: none;
    position: absolute;
    top: 3020px;
    font-size: 1em;
    left: 50%;
       
}

#product{
    position: absolute;
    top: 425px;
    border-radius: 5px;
    width: 330px;
    height: 21px;
    background-color: #9b6e3a;
    left: 50%;
    transform: translate(-50%, -50%);
}



.feature{   

    background: rgb(231, 230, 228);
    height: 2430px;
    width: 900px;
    position: absolute;
    top: 300px;
    border-radius: 10px;  
    left: 250px; 
}


#part-galeria{
margin: 50px;    
}
.rh-2{

    width: 896px;
    position: absolute;
    top: 335px;
    left: 237px;
    border-color:rgb(255, 255, 255);
  
}

.img1{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 170px;
    left: 260px;
}

.feature-title{
    position: absolute;
    top: 169px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413;
}
.af{
    position: absolute;
    top: 180px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;

}
.atenc_{
    position: absolute;
    top: 230px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_{
    position: absolute;
    top: 260px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao{
    display: flex;
    position: absolute;
    top: 273px;
    left: 374px;
    font-size: 1.8em;
}

.rh-3{
    width: 896px;
    position: absolute;
    top: 522px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}
.img2{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 357px;
    left: 260px;
}

.af-1{
    position: absolute;
    top: 370px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}
.atenc_1{
    position: absolute;
    top: 421px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_1{
    position: absolute;
    top: 450px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_2{
    display: flex;
    position: absolute;
    top: 459px;
    left: 374px;
    font-size: 1.8em;
}

.rh-4{
    width: 896px;
    position: absolute;
    top: 712px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.avaliacao_3{
    display: flex;
    position: absolute;
    top: 650px;
    left: 374px;
    font-size: 1.8em;
}

.img3{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 545px;
    left: 260px;
}


.feature-title-02{
    position: absolute;
    top: 545px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413; 
}


.af-2{
    position: absolute;
    top: 558px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}
.atenc_2{
    position: absolute;
    top: 610px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_2{
    position: absolute;
    top: 638px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.rh-5{
    width: 896px;
    position: absolute;
    top: 903px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img4{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 735px;
    left: 260px;
}

.feature-title-01{
    position: absolute;
    top: 358px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413; 
}
.af-3{
    position: absolute;
    top: 747px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_3{
    position: absolute;
    top: 782px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_3{
    position: absolute;
    top: 820px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_4{
    display: flex;
    position: absolute;
    top: 838px;
    left: 374px;
    font-size: 1.8em;
}

.feature-title-03{
    position: absolute;
    top: 732px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}


.rh-6{
    width: 896px;
    position: absolute;
    top: 1095px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img5{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 927px;
    left: 260px;
}


.feature-title-04{
    position: absolute;
    top: 927px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-4{
    position: absolute;
    top: 940px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_4{
    position: absolute;
    top: 992px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_4{
    position: absolute;
    top: 1020px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_5{
    display: flex;
    position: absolute;
    top: 1030px;
    left: 374px;
    font-size: 1.8em;
}
.rh-7{
    width: 896px;
    position: absolute;
    top: 1284px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img6{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1117px;
    left: 260px;
}


.feature-title-05{
    position: absolute;
    top: 1117px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-5{
    position: absolute;
    top: 1128px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_5{
    position: absolute;
    top: 1182px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_5{
    position: absolute;
    top: 1212px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_6{
    display: flex;
    position: absolute;
    top: 1222px;
    left: 374px;
    font-size: 1.8em;
}

.rh-8{
    width: 896px;
    position: absolute;
    top: 1475px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img7{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1307px;
    left: 260px;
}


.feature-title-06{
    position: absolute;
    top: 1307px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-6{
    position: absolute;
    top: 1320px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_6{
    position: absolute;
    top: 1373px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_6{
    position: absolute;
    top: 1404px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_7{
    display: flex;
    position: absolute;
    top: 1412px;
    left: 374px;
    font-size: 1.8em;
}
.rh-9{
    width: 896px;
    position: absolute;
    top: 1666px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img8{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1498px;
    left: 260px;
}


.feature-title-07{
    position: absolute;
    top: 1498px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-7{
    position: absolute;
    top: 1510px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}
.atenc_7{
    position: absolute;
    top: 1562px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_7{
    position: absolute;
    top: 1592px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao_8{
    display: flex;
    position: absolute;
    top: 1604px;
    left: 374px;
    font-size: 1.8em;
}
.rh-10{
    width: 896px;
    position: absolute;
    top: 1857px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img9{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1690px;
    left: 260px;
}

.feature-title-08{
    position: absolute;
    top: 1690px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-8{
    position: absolute;
    top: 1703px;
    left: 420px;
    width: 720px;
    font-family: 'Roboto', sans-serif;
}

.atenc_8{
    position: absolute;
    top: 1755px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_8{
    position: absolute;
    top: 1786px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao_9{
    display: flex;
    position: absolute;
    top: 1797px;
    left: 374px;
    font-size: 1.8em;
}

.rh-11{
    width: 896px;
    position: absolute;
    top: 2047px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img10{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1880px;
    left: 260px;
}


.feature-title-09{
    position: absolute;
    top: 1880px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-9{
    position: absolute;
    top: 1890px;
    left: 420px;
    width: 710px;
    font-family: 'Roboto', sans-serif;
}

.atenc_9{
    position: absolute;
    top: 1944px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_9{
    position: absolute;
    top: 1976px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_10{
    display: flex;
    position: absolute;
    top: 1987px;
    left: 374px;
    font-size: 1.8em;
}
.rh-12{
    width: 896px;
    position: absolute;
    top: 2238px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img11{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2070px;
    left: 260px;
}


.feature-title-10{
    position: absolute;
    top: 2070px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-10{
    position: absolute;
    top: 2082px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_10{
    position: absolute;
    top: 2135px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_10{
    position: absolute;
    top: 2165px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_11{
    display: flex;
    position: absolute;
    top: 2178px;
    left: 374px;
    font-size: 1.8em;
}
.rh-13{
    width: 898px;
    position: absolute;
    top: 2428px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img12{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2261px;
    left: 260px;
}


.feature-title-11{
    position: absolute;
    top: 2261px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-11{
    position: absolute;
    top: 2275px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_11{
    position: absolute;
    top: 2311px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_11{
    position: absolute;
    top: 2350px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_12{
    display: flex;
    position: absolute;
    top: 2365px;
    left: 374px;
    font-size: 1.8em;
}

.rh-14{
    width: 896px;
    position: absolute;
    top: 2617px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img13{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2450px;
    left: 260px;
}


.feature-title-12{
    position: absolute;
    top: 2450px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-12{
    position: absolute;
    top: 2464px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_12{
    position: absolute;
    top: 2516px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_12{
    position: absolute;
    top: 2546px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_13{
    display: flex;
    position: absolute;
    top: 2557px;
    left: 374px;
    font-size: 1.8em;
}

.rh-15{
    width: 896px;
    position: absolute;
    top: 2806px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img14{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2639px;
    left: 260px;
}


.feature-title-13{
    position: absolute;
    top: 2639px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-13{
    position: absolute;
    top: 2653px;
    left: 420px;
    width: 720px;
    font-family: 'Roboto', sans-serif;
}

.atenc_13{
    position: absolute;
    top: 2706px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_13{
    position: absolute;
    top: 2734px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_14{
    display: flex;
    position: absolute;
    top: 2744px;
    left: 374px;
    font-size: 1.8em;
}
.rh-16{
    width: 896px;
    position: absolute;
    top: 2418px;
    left: 237px;
    border-color:rgb(255, 255, 255);
}

.img15{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2830px;
    left: 260px;
}


.feature-title-14{
    position: absolute;
    top: 2830px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-14{
    position: absolute;
    top: 2844px;
    left: 420px;
    width: 740px;
    font-family: 'Roboto', sans-serif;
}

.atenc_14{
    position: absolute;
    top: 2895px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_14{
    position: absolute;
    top: 2923px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_15{
    display: flex;
    position: absolute;
    top: 2936px;
    left: 374px;
    font-size: 1.8em;
}

.whats{
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
right: 45px;
background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 1px 1px 2px rgb(251, 251, 251);
z-index: 1000;
}

.fa-whatsapp{
    color: rgb(231, 231, 231);
    margin-top: 16px;
}

.search-box{
    position: absolute;
    top: 180px;
    left: 430px;
    background: rgb(231, 230, 228);
    height: 50px;
    width: 580px;
    border-radius: 4px; 
}


.searce-text{
    position: absolute;
    top: 190px;
    left: 450px;
    padding-right: 500px;
    padding-left: 50px;
    box-shadow: 0 0 0 0;
    background: none;
    border: none;
    outline: none;
    width: 0;
}


.search-btn{
    width: 50px;
    height: 50px;
}
.lupa-azul{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.lupa-branca{
    display: none;
}

.source-box:hover > .souce-text{
    width: 320px;
}

.logo4{
    position: fixed;
    top: -85px;
    left:500px;
    width: 370px;
    height: 240px;
    
}

#linha-vertical{
   position: absolute;
   top: 10px;
   height: 30px;
   right: 45px;
   border-right: 0.5px solid rgb(189, 185, 185);

}

.star-icon{
    list-style-type:none;
    cursor: pointer;
    color: #ffb006;
}

.star-icon::before{
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}
.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.fundo-ls{
    background-color: rgb(223, 222, 222);
    border-radius: 8px;
    position: absolute;
    top: 150px;
    height: 2890px;
    width: 898px;
    left: 17.5%;
}
