#parte{
    background-color: #38280a;
    border: none;
    width:100%;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte2{
    background-color: #38280a;
    border: none;
    width:98.7%;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte3{
    background-color: #f1f0ef;
    border: none;
    width:100%;
    height: 320px;
    position: absolute;
    top: 3520px;
    left: 0px;
    
}


.logo{
    width: 270px;
    height: 300px;
    position: absolute;
    top:309px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ult{
    width:337px;
    height: 263px;
    position: absolute;
    top: 358px;
    left: 50%;
    transform: translate(-50%, -50%);
}


#prody{
    color: rgb(58, 140, 233);
    font-family: 'Roboto', sans-serif;
    border: none;
    text-decoration: none;
    position: absolute;
    top: 3400px;
    font-size: 1em;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#product{
    position: absolute;
    top: 490px;
    border-radius: 5px;
    width: 340px;
    height: 21px;
    background-color: #9b6e3a;
    left: 50%;
    transform: translate(-50%, -50%);
}

.li_roda{
    height: 0.1px;
    width: 1000px;
    position: absolute;
    top: 3700px;
    left: 100px;
    border: 0.1px solid #cfd3cf;
    border-radius: 10px;
}

.feature{   

    background: rgb(231, 230, 228);
    height: 2430px;
    width: 900px;
    position: absolute;
    top: 300px;
    border-radius: 10px;  
    left: 250px; 
}

/* bloco_1 */

.rh-2{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 147px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img1{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 170px;
    left: 260px;
}

.feature-title{
    position: absolute;
    top: 169px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413;
}
.af{
    position: absolute;
    top: 180px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;

}
.atenc_{
    position: absolute;
    top: 230px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_{
    position: absolute;
    top: 260px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao{
    display: flex;
    position: absolute;
    top: 282px;
    left: 374px;
    font-size: 1.2em;
}
.cred1{
    position: absolute;
    top: 285px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix1{
    position: absolute;
    top: 300px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_2 */

.rh-3{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 360px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}
.img2{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 384px;
    left: 260px;
}

.feature-title-01{
    position: absolute;
    top: 384px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413; 
}

.af-1{
    position: absolute;
    top: 397px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}
.atenc_1{
    position: absolute;
    top: 448px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_1{
    position: absolute;
    top: 476px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_2{
    display: flex;
    position: absolute;
    top: 498px;
    left: 374px;
    font-size: 1.2em;
}
.cred2{
    position: absolute;
    top: 500px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix2{
    position: absolute;
    top: 515px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_3 */

.rh-4{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 573px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img3{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 597px;
    left: 260px;
}

.feature-title-02{
    position: absolute;
    top: 595px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #131413; 
}

.af-2{
    position: absolute;
    top: 610px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}
.atenc_2{
    position: absolute;
    top: 660px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_2{
    position: absolute;
    top: 690px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao_3{
    display: flex;
    position: absolute;
    top: 714px;
    left: 374px;
    font-size: 1.2em;
}
.cred3{
    position: absolute;
    top: 715px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix3{
    position: absolute;
    top: 730px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_4 */

.rh-5{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 786px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img4{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 810px;
    left: 260px;
}

.feature-title-03{
    position: absolute;
    top: 805px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-3{
    position: absolute;
    top: 820px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_3{
    position: absolute;
    top: 860px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_3{
    position: absolute;
    top: 897px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_4{
    display: flex;
    position: absolute;
    top: 925px;
    left: 374px;
    font-size: 1.2em;
}
.cred4{
    position: absolute;
    top: 928px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix4{
    position: absolute;
    top: 943px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_5 */

.rh-6{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 999px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img5{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1023px;
    left: 260px;
}

.feature-title-04{
    position: absolute;
    top: 1021px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-4{
    position: absolute;
    top: 1035px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_4{
    position: absolute;
    top: 1090px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_4{
    position: absolute;
    top: 1118px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_5{
    display: flex;
    position: absolute;
    top: 1138px;
    left: 374px;
    font-size: 1.2em;
}
.cred5{
    position: absolute;
    top: 1141px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix5{
    position: absolute;
    top: 1156px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_6 */

.rh-7{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 1212px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img6{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1236px;
    left: 260px;
}


.feature-title-05{
    position: absolute;
    top: 1234px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #364636; 
}

.af-5{
    position: absolute;
    top: 1248px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_5{
    position: absolute;
    top: 1303px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_5{
    position: absolute;
    top: 1333px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_6{
    display: flex;
    position: absolute;
    top: 1352px;
    left: 374px;
    font-size: 1.2em;
}

.cred6{
    position: absolute;
    top: 1356px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix6{
    position: absolute;
    top: 1371px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_7 */

.rh-8{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 1425px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img7{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1449px;
    left: 260px;
}


.feature-title-06{
    position: absolute;
    top: 1447px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-6{
    position: absolute;
    top: 1461px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_6{
    position: absolute;
    top: 1516px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_6{
    position: absolute;
    top: 1546px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_7{
    display: flex;
    position: absolute;
    top: 1565px;
    left: 374px;
    font-size: 1.2em;
}
.cred7{
    position: absolute;
    top: 1569px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix7{
    position: absolute;
    top: 1584px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_8 */

.rh-9{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 1638px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img8{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1662px;
    left: 260px;
}


.feature-title-07{
    position: absolute;
    top: 1660px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-7{
    position: absolute;
    top: 1674px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}
.atenc_7{
    position: absolute;
    top: 1729px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_7{
    position: absolute;
    top: 1759px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}
.avaliacao_8{
    display: flex;
    position: absolute;
    top: 1778px;
    left: 374px;
    font-size: 1.2em;
}
.cred8{
    position: absolute;
    top: 1782px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix8{
    position: absolute;
    top: 1797px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_9 */

.rh-10{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 1851px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img9{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 1875px;
    left: 260px;
}

.feature-title-08{
    position: absolute;
    top: 1873px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-8{
    position: absolute;
    top: 1887px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_8{
    position: absolute;
    top: 1942px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_8{
    position: absolute;
    top: 1972px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_9{
    display: flex;
    position: absolute;
    top: 1991px;
    left: 374px;
    font-size: 1.2em;
}

.cred9{
    position: absolute;
    top: 1995px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix9{
    position: absolute;
    top: 2010px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_10 */

.rh-11{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 2064px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img10{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2088px;
    left: 260px;
}


.feature-title-09{
    position: absolute;
    top: 2084px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-9{
    position: absolute;
    top: 2100px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_9{
    position: absolute;
    top: 2155px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_9{
    position: absolute;
    top: 2185px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_10{
    display: flex;
    position: absolute;
    top: 2204px;
    left: 374px;
    font-size: 1.2em;
}

.cred10{
    position: absolute;
    top: 2208px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix10{
    position: absolute;
    top: 2223px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_11 */

.rh-12{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 2277px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img11{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2301px;
    left: 260px;
}


.feature-title-10{
    position: absolute;
    top: 2297px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-10{
    position: absolute;
    top: 2313px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_10{
    position: absolute;
    top: 2368px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_10{
    position: absolute;
    top: 2398px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_11{
    display: flex;
    position: absolute;
    top: 2417px;
    left: 374px;
    font-size: 1.2em;
}

.cred11{
    position: absolute;
    top: 2421px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix11{
    position: absolute;
    top: 2436px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_12 */

.rh-13{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 2490px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img12{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2514px;
    left: 260px;
}


.feature-title-11{
    position: absolute;
    top: 2510px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-11{
    position: absolute;
    top: 2530px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_11{
    position: absolute;
    top: 2575px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_11{
    position: absolute;
    top: 2611px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_12{
    display: flex;
    position: absolute;
    top: 2630px;
    left: 374px;
    font-size: 1.2em;
}

.cred12{
    position: absolute;
    top: 2634px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix12{
    position: absolute;
    top: 2649px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_13 */

.rh-14{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 2703px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img13{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2727px;
    left: 260px;
}


.feature-title-12{
    position: absolute;
    top: 2723px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-12{
    position: absolute;
    top: 2739px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_12{
    position: absolute;
    top: 2792px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_12{
    position: absolute;
    top: 2821px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_13{
    display: flex;
    position: absolute;
    top: 2843px;
    left: 374px;
    font-size: 1.2em;
}

.cred13{
    position: absolute;
    top: 2847px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix13{
    position: absolute;
    top: 2862px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_14 */

.rh-15{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 2916px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img14{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 2940px;
    left: 260px;
}

.feature-title-13{
    position: absolute;
    top: 2940px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-13{
    position: absolute;
    top: 2952px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_13{
    position: absolute;
    top: 3005px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}

.corp_13{
    position: absolute;
    top: 3034px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_14{
    display: flex;
    position: absolute;
    top: 3056px;
    left: 374px;
    font-size: 1.2em;
}

.cred14{
    position: absolute;
    top: 3059px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix14{
    position: absolute;
    top: 3074px;
    height:25px;
    width: 50px;
    left: 590px;
}

/* bloco_15 */

.rh-16{
    height: 190px;
    width: 940px;
    position: absolute;
    top: 3129px;
    left: 237px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img15{
    height: 160px;
    width: 140px;
    border-radius: 2px;
    position: absolute;
    top: 3153px;
    left: 260px;
}


.feature-title-14{
    position: absolute;
    top: 3153px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #131413; 
}

.af-14{
    position: absolute;
    top: 3163px;
    left: 420px;
    width: 730px;
    font-family: 'Roboto', sans-serif;
}

.atenc_14{
    position: absolute;
    top: 3218px;
    left: 420px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;  
    color: #131413; 
}
.corp_14{
    position: absolute;
    top: 3247px;
    left: 420px;
    width: 750px;
    font-family: 'Roboto', sans-serif;
}

.avaliacao_15{
    display: flex;
    position: absolute;
    top: 3269px;
    left: 374px;
    font-size: 1.2em;
}

.cred15{
    position: absolute;
    top: 3272px;
    height:47px;
    width: 57px;
    left: 520px;
}

.pix15{
    position: absolute;
    top: 3287px;
    height:25px;
    width: 50px;
    left: 590px;
}

.whats{
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
right: 45px;
background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 1px 1px 2px rgb(251, 251, 251);
z-index: 1000;
}

.fa-whatsapp{
    color: rgb(231, 231, 231);
    margin-top: 16px;
}

.star-icon{
    list-style-type:none;
    cursor: pointer;
    color: #ffb006;
}

.star-icon::before{
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}
.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.fundo-ls{
    background-color: rgb(223, 222, 222);
    border-radius: 8px;
    position: absolute;
    top: 150px;
    height: 2890px;
    width: 898px;
    left: 17.5%;
}

.inst{
    height: 44px;
    width: 44px;
    position: absolute;
    top: 3600px;
    left: 520px;
    border-radius: 10px;
}

.face{
    height: 47px;
    width: 47px;
    position: absolute;
    top: 3600px;
    left: 640px;
    border-radius: 10px;
}

.you{
    height: 51px;
    width: 51px;
    position: absolute;
    top: 3598px;
    left: 760px;
    border-radius: 10px;
}

.term{
    position: absolute;
    top: 3800px;
    left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.priv{
    position: absolute;
    top: 3800px;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.ano{
    position: absolute;
    top: 3800px;
    left: 113px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
