#parte{
    background-color: #38280a;
    border: none;
    width:380px;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte2{
    background-color: #38280a;
    border: none;
    width:379px;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}


.logo{
    width: 230px;
    height: 250px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.certo{
    width:16px;
    height: 14px;
    position: absolute;
    top: 407px;
    left: 150px;
}


#medida{
    position: absolute;
    top: 394px;
    left: 170px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

#prody{
    color: rgb(58, 140, 233);
    border: none;
    text-decoration: none;
    position: absolute;
    top: 2236px;
    font-size: 0.8em;
    left: 45%;
       
}

#product{
    position: absolute;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    background-color: #9b6e3a;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img1{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 195px;
    left: 5px;
}
.rh-2{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 307px;
    left: 0px;
    background-color:rgb(168, 167, 165);

}
.feature-title{
    position: absolute;
    top: 195px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


.af{
    position: absolute;
    top: 200px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_{
    position: absolute;
    top: 248px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_{
    position: absolute;
    top: 265px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-3{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 444px;
    left: 0px;
    background-color:rgb(168, 167, 165);
}
.img2{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 322px;
    left:-5px;
}

.af-1{
    position: absolute;
    top: 337px;
    left: 107px;
    width: 260px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_1{
    position: absolute;
    top: 386px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_1{
    position: absolute;
    top: 404px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-4{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 581px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img3{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 469px;
    left: 5px;
}


.feature-title-02{
    position: absolute;
    top: 470px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


.af-2{
    position: absolute;
    top: 474px;
    left: 157px;
    width: 250px;
    left: 107px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_2{
    position: absolute;
    top: 522px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_2{
    position: absolute;
    top: 540px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-5{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 715px;
    left: 0px;
    background-color:  rgb(168, 167, 165);
}

.img4{
    height: 108px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 605px;
    left: 5px;
}

.feature-title-01{
    position: absolute;
    top: 332px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.af-3{
    position: absolute;
    top: 610px;
    left: 157px;
    width: 250px;
    left: 107px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_3{
    position: absolute;
    top: 647px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_3{
    position: absolute;
    top: 667px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.feature-title-03{
    position: absolute;
    top: 605px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


.rh-6{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 853px;
    left: 0px;
    background-color:  rgb(168, 167, 165);
}

.img5{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 740px;
    left: 5px;
}


.feature-title-04{
    position: absolute;
    top: 739px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-4{
    position: absolute;
    top: 745px;
    left: 157px;
    width: 250px;
    left: 107px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_4{
    position: absolute;
    top: 794px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_4{
    position: absolute;
    top: 810px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-7{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 989px;
    left: 0px;
    background-color:  rgb(168, 167, 165);
}

.img6{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 876px;
    left: 5px;
}


.feature-title-05{
    position: absolute;
    top: 876px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-5{
    position: absolute;
    top: 881px;
    width: 250px;
    left: 107px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_5{
    position: absolute;
    top: 930px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_5{
    position: absolute;
    top: 948px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}


.rh-8{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1127px;
    left: 0px;
    background-color:  rgb(168, 167, 165);
}

.img7{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1014px;
    left: 5px;
}


.feature-title-06{
    position: absolute;
    top: 1012px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-6{
    position: absolute;
    top: 1018px;
    left: 107px;
    width: 260px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_6{
    position: absolute;
    top: 1068px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_6{
    position: absolute;
    top: 1086px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-9{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1264px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img8{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1152px;
    left: 5px;
}


.feature-title-07{
    position: absolute;
    top: 1151px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-7{
    position: absolute;
    top: 1159px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_7{
    position: absolute;
    top: 1208px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_7{
    position: absolute;
    top: 1226px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-10{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1402px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img9{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1289px;
    left: 5px;
}


.feature-title-08{
    position: absolute;
    top: 1288px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-8{
    position: absolute;
    top: 1293px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_8{
    position: absolute;
    top: 1344px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_8{
    position: absolute;
    top: 1360px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-11{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1540px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img10{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1427px;
    left: 5px;
}


.feature-title-09{
    position: absolute;
    top: 1426px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-9{
    position: absolute;
    top: 1432px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_9{
    position: absolute;
    top: 1480px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_9{
    position: absolute;
    top: 1497px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.rh-12{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1677px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img11{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1565px;
    left: 5px;
}


.feature-title-10{
    position: absolute;
    top: 1564px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-10{
    position: absolute;
    top: 1568px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_10{
    position: absolute;
    top: 1618px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_10{
    position: absolute;
    top:1635px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}
.rh-13{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1814px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img12{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1701px;
    left: 5px;
}


.feature-title-11{
    position: absolute;
    top: 1700px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


.af-11{
    position: absolute;
    top: 1705px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_11{
    position: absolute;
    top: 1755px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_11{
    position: absolute;
    top:1773px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}
.rh-14{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 1950px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img13{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1838px;
    left: 7px;
}


.feature-title-12{
    position: absolute;
    top: 1838px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-12{
    position: absolute;
    top: 1842px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_12{
    position: absolute;
    top: 1892px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_12{
    position: absolute;
    top:1910px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}
.rh-15{
    height: 5px;
    width: 379px;
    position: absolute;
    top: 2085px;
    left: 0px;
    background-color: rgb(168, 167, 165);
}

.img14{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1973px;
    left: 7px;
}


.feature-title-13{
    position: absolute;
    top: 1974px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-13{
    position: absolute;
    top: 1978px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_13{
    position: absolute;
    top: 2026px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_13{
    position: absolute;
    top:2043px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}


.img15{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 2107px;
    left: 5px;
}


.feature-title-14{
    position: absolute;
    top: 2107px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-14{
    position: absolute;
    top: 2112px;
    left: 107px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}
.atenc_14{
    position: absolute;
    top: 2160px;
    left: 107px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}
.corp_14{
    position: absolute;
    top:2177px;
    left: 107px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.whats{
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
left: 250px;
background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 1px 1px 2px rgb(251, 251, 251);
z-index: 1000;
}

.fa-whatsapp{
    color: rgb(231, 231, 231);
    margin-top: 16px;
}

.search-box{
    position: absolute;
    top: 130px;
    left: 115px;
    background: rgb(113, 52, 224);
    height: 36px;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* input{
    box-shadow: 0 0 0 0;
    border: none;
    background: none;
    outline: none
} */
.search-txt{
   
    box-shadow: 0 0 0 0;
    border: none;
    background: none;
    outline: none;
}

/* .search-btn{
    width: 50px;
    height: 50px;
} */
.lupa-azul{
    /* position: absolute;
    top: 6px;
    right: 5px; */
    width: 21px;
    height: 21px;
}

.tooltipsy{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #535353;
    border: 1px #e9e8e8 solid;
}


#linha-vertical{
    position: absolute;
    top: 5px;
    height: 25px;
    right: 30px;
    border-right: 0.5px solid rgb(189, 185, 185);
 
         }
 
 .avaliacao{
     display: flex;
     position: absolute;
     top: 275px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_2{
     display: flex;
     position: absolute;
     top: 413px;
     left: 65px;
     font-size: 1em;
        }
 .avaliacao_3{
     display: flex;
     position: absolute;
     top: 551px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_4{
     display: flex;
     position: absolute;
     top:684px;
     left: 65px;
     font-size: 1em;
        }
 .avaliacao_5{
     display: flex;
     position: absolute;
     top: 820px;
     left: 65px;
     font-size: 1em;
        }
 .avaliacao_6{
     display: flex;
     position: absolute;
     top: 958px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_7{
     display: flex;
     position: absolute;
     top: 1095px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_8{
     display: flex;
     position: absolute;
     top: 1233px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_9{
     display: flex;
     position: absolute;
     top: 1370px;
     left: 65px;
     font-size: 1em;
        }
 .avaliacao_10{
     display: flex;
     position: absolute;
     top: 1507px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_11{
     display: flex;
     position: absolute;
     top: 1645px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_12{
     display: flex;
     position: absolute;
     top: 1783px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_13{
     display: flex;
     position: absolute;
     top: 1919px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_14{
     display: flex;
     position: absolute;
     top: 2053px;
     left: 65px;
     font-size: 1em;
        }
 
 .avaliacao_15{
     display: flex;
     position: absolute;
     top: 2187px;
     left: 65px;
     font-size: 1em;
        }
 .star-icon{
     list-style-type:none;
     cursor: pointer;
     color: #ffb006;
        }
 
 .star-icon::before{
     content: "\2605";
        }
 
 .star-icon.ativo ~ .star-icon::before{
     content: "\2606";
        }
 .avaliacao:hover .star-icon::before{
     content: "\2605";
        }
 
 .star-icon:hover ~ .star-icon::before{
     content: "\2606";
        }

 .fundo-ls{
    background-color: rgb(223, 222, 222);
    position: absolute;
    top: 100px;
    height: 2250px;
    width: 380px;
    left: 0%;
        }
