#parte{
    background-color: #38280a;
    border: none;
    width:100%;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte2{
    background-color: #38280a;
    border: none;
    width:99%;
    height: 98px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#parte3{
    background-color: #f1f0ef;
    border: none;
    width:100%;
    height: 250px;
    position: absolute;
    top: 2290px;
    left: 0px;
    
}

.logo{
    width: 230px;
    height: 250px;
    position: absolute;
    top: 311px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ult{
    width: 332px;
    height: 263px;
    position: absolute;
    top: 335px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prody{
    color: rgb(58, 140, 233);
    border: none;
    text-decoration: none;
    position: absolute;
    top: 2220px;
    font-size: 0.8em;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#product{
    position: absolute;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    background-color: #9b6e3a;
    top: 460px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* bloco_1 */

.rh-2{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 112px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img1{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 128px;
    left: 13px;
}

.feature-title{
    position: absolute;
    top: 125px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af{
    position: absolute;
    top: 130px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_{
    position: absolute;
    top: 179px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_{
    position: absolute;
    top: 195px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao{
    display: flex;
    position: absolute;
    top: 205px;
    left: 73px;
    font-size: 1em;
}

.cred1{
    position: absolute;
    top: 214px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix1{
    position: absolute;
    top: 224px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_2 */

.rh-3{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 250px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img2{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 266px;
    left:13px;
}

.feature-title-01{
    position: absolute;
    top: 263px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-1{
    position: absolute;
    top: 268px;
    left: 115px;
    width: 260px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_1{
    position: absolute;
    top: 317px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_1{
    position: absolute;
    top: 333px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_2{
    display: flex;
    position: absolute;
    top: 343px;
    left: 73px;
    font-size: 1em;
}

.cred2{
    position: absolute;
    top: 352px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix2{
    position: absolute;
    top: 362px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_3 */

.rh-4{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 388px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img3{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 404px;
    left: 13px;
}

.feature-title-02{
    position: absolute;
    top: 401px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-2{
    position: absolute;
    top: 406px;
    left: 157px;
    width: 250px;
    left: 115px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_2{
    position: absolute;
    top: 455px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_2{
    position: absolute;
    top: 471px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_3{
    display: flex;
    position: absolute;
    top: 481px;
    left: 73px;
    font-size: 1em;
}

.cred3{
    position: absolute;
    top: 490px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix3{
    position: absolute;
    top: 500px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_4 */

.rh-5{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 526px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img4{
    height: 108px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 542px;
    left: 13px;
}

.feature-title-03{
    position: absolute;
    top: 539px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-3{
    position: absolute;
    top: 544px;
    left: 157px;
    width: 250px;
    left: 115px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_3{
    position: absolute;
    top: 583px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_3{
    position: absolute;
    top: 603px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_4{
    display: flex;
    position: absolute;
    top:619px;
    left: 73px;
    font-size: 1em;
}

.cred4{
    position: absolute;
    top: 628px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix4{
    position: absolute;
    top: 638px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_5 */

.rh-6{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 664px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img5{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 680px;
    left: 13px;
}

.feature-title-04{
    position: absolute;
    top: 677px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-4{
    position: absolute;
    top: 682px;
    left: 157px;
    width: 250px;
    left: 115px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_4{
    position: absolute;
    top: 730px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_4{
    position: absolute;
    top: 745px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_5{
    display: flex;
    position: absolute;
    top: 757px;
    left: 73px;
    font-size: 1em;
}

.cred5{
    position: absolute;
    top: 766px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix5{
    position: absolute;
    top: 776px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_6 */

.rh-7{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 802px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img6{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 818px;
    left: 13px;
}

.feature-title-05{
    position: absolute;
    top: 815px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-5{
    position: absolute;
    top: 820px;
    width: 250px;
    left: 115px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_5{
    position: absolute;
    top: 868px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_5{
    position: absolute;
    top: 883px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_6{
    display: flex;
    position: absolute;
    top: 895px;
    left: 73px;
    font-size: 1em;
}

.cred6{
    position: absolute;
    top: 904px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix6{
    position: absolute;
    top: 914px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_7 */

.rh-8{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 940px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img7{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 956px;
    left: 13px;
}

.feature-title-06{
    position: absolute;
    top: 953px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-6{
    position: absolute;
    top:958px;
    left: 115px;
    width: 260px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_6{
    position: absolute;
    top: 1006px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_6{
    position: absolute;
    top: 1021px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_7{
    display: flex;
    position: absolute;
    top: 1033px;
    left: 73px;
    font-size: 1em;
}

.cred7{
    position: absolute;
    top: 1042px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix7{
    position: absolute;
    top: 1052px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_8 */

.rh-9{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1078px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img8{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1094px;
    left: 13px;
}

.feature-title-07{
    position: absolute;
    top: 1091px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-7{
    position: absolute;
    top: 1096px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_7{
    position: absolute;
    top: 1144px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_7{
    position: absolute;
    top: 1159px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_8{
    display: flex;
    position: absolute;
    top: 1171px;
    left: 73px;
    font-size: 1em;
}

.cred8{
    position: absolute;
    top: 1180px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix8{
    position: absolute;
    top: 1190px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_9 */

.rh-10{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1216px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img9{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1232px;
    left: 13px;
}

.feature-title-08{
    position: absolute;
    top: 1229px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-8{
    position: absolute;
    top: 1234px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_8{
    position: absolute;
    top: 1282px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_8{
    position: absolute;
    top: 1297px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_9{
    display: flex;
    position: absolute;
    top: 1309px;
    left: 73px;
    font-size: 1em;
}

.cred9{
    position: absolute;
    top: 1318px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix9{
    position: absolute;
    top: 1328px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_10 */

.rh-11{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1354px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img10{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1370px;
    left: 13px;
}

.feature-title-09{
    position: absolute;
    top: 1367px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-9{
    position: absolute;
    top: 1372px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_9{
    position: absolute;
    top: 1420px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_9{
    position: absolute;
    top: 1435px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_10{
    display: flex;
    position: absolute;
    top: 1447px;
    left: 73px;
    font-size: 1em;
}

.cred10{
    position: absolute;
    top: 1456px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix10{
    position: absolute;
    top: 1466px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_11 */

.rh-12{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1492px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img11{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1508px;
    left: 13px;
}

.feature-title-10{
    position: absolute;
    top: 1505px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-10{
    position: absolute;
    top: 1510px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_10{
    position: absolute;
    top: 1558px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_10{
    position: absolute;
    top:1573px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_11{
    display: flex;
    position: absolute;
    top: 1585px;
    left: 73px;
    font-size: 1em;
}

.cred11{
    position: absolute;
    top: 1594px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix11{
    position: absolute;
    top: 1604px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_12 */

.rh-13{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1630px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img12{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1646px;
    left: 13px;
}

.feature-title-11{
    position: absolute;
    top: 1643px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-11{
    position: absolute;
    top: 1648px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_11{
    position: absolute;
    top: 1696px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_11{
    position: absolute;
    top:1711px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_12{
    display: flex;
    position: absolute;
    top: 1723px;
    left: 73px;
    font-size: 1em;
}

.cred12{
    position: absolute;
    top: 1732px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix12{
    position: absolute;
    top: 1742px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_13 */

.rh-14{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1768px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img13{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1784px;
    left: 13px;
}

.feature-title-12{
    position: absolute;
    top: 1781px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-12{
    position: absolute;
    top: 1786px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_12{
    position: absolute;
    top: 1834px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_12{
    position: absolute;
    top:1849px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_13{
    display: flex;
    position: absolute;
    top: 1861px;
    left: 73px;
    font-size: 1em;
}

.cred13{
    position: absolute;
    top: 1870px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix13{
    position: absolute;
    top: 1880px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_14 */

.rh-15{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 1906px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img14{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 1922px;
    left: 13px;
}

.feature-title-13{
    position: absolute;
    top: 1919px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-13{
    position: absolute;
    top: 1924px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_13{
    position: absolute;
    top: 1972px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_13{
    position: absolute;
    top:1987px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_14{
    display: flex;
    position: absolute;
    top: 1999px;
    left: 73px;
    font-size: 1em;
}

.cred14{
    position: absolute;
    top: 2008px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix14{
    position: absolute;
    top: 2018px;
    height:17px;
    width: 35px;
    left: 250px;
}

/* bloco_15 */

.rh-16{
    height: 124px;
    width: 377px;
    position: absolute;
    top: 2044px;
    left: 5px;
    border: 1px solid #cfd3cf;
    border-radius: 10px;
}

.img15{
    height: 110px;
    width: 96px;
    border-radius: 2px;
    position: absolute;
    top: 2060px;
    left: 13px;
}

.feature-title-14{
    position: absolute;
    top: 2057px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.af-14{
    position: absolute;
    top: 2062px;
    left: 115px;
    width: 250px;
    font-size: 12px;
    margin-right: 5px;
}

.atenc_14{
    position: absolute;
    top: 2110px;
    left: 115px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;  
    color: #131413; 
}

.corp_14{
    position: absolute;
    top:2125px;
    left: 115px;
    width: 750px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
}

.avaliacao_15{
    display: flex;
    position: absolute;
    top: 2137px;
    left: 73px;
    font-size: 1em;
}

.cred15{
    position: absolute;
    top: 2146px;
    height:30px;
    width: 43px;
    left: 200px;
}

.pix15{
    position: absolute;
    top: 2156px;
    height:17px;
    width: 35px;
    left: 250px;
}

.whats{
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
left: 250px;
background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 1px 1px 2px rgb(251, 251, 251);
z-index: 1000;
}

.fa-whatsapp{
    color: rgb(231, 231, 231);
    margin-top: 16px;
}

.tooltipsy{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #535353;
    border: 1px #e9e8e8 solid;
}

.star-icon{
    list-style-type:none;
    cursor: pointer;
    color: #ffb006;
}
 
.star-icon::before{
    content: "\2605";
}
 
.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
}
 
.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.fundo-ls{
    background-color: rgb(223, 222, 222);
    position: absolute;
    top: 80px;
    height: 2180px;
    width: 380px;
    left: 0%;
}

.inst{
    height: 34px;
    width: 34px;
    position: absolute;
    top: 2350px;
    left: 70px;
    border-radius: 10px;
}

.face{
    height: 37px;
    width: 37px;
    position: absolute;
    top: 2350px;
    left: 173px;
    border-radius: 10px;
}

.you{
    height: 41px;
    width: 41px;
    position: absolute;
    top: 2350px;
    left: 275px;
    border-radius: 10px;
}

.term{
    position: absolute;
    top: 2500px;
    left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
}

.priv{
    position: absolute;
    top: 2500px;
    left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
}

.ano{
    position: absolute;
    top: 2500px;
    left: 93px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
}
